/* UTILZ */

.clickable {
	cursor: pointer;
}

.sm-txt {
	font-size: 12px;
	font-weight: 520;
}

.bg-sent {
	background-color: #d5f9ba;
}

.bg-recieved {
	background-color: white;
}

/* + */

body {
	background: linear-gradient(to top, #d2dbdc 50%, #dddbd1 85%, #009688 85%);
	background-repeat: no-repeat;
	height: 100vh;
}
.whatsapp {
	height: 90vh;
}

header {
	height: 60px;
	background-color: #eaeaea;
}

.header-img {
	height: 45px;
	border-radius: 50%;
}

.user-button > i {
	color: rgb(170, 170, 170);
	font-size: 25px;
	margin: 0 8px;
}

.notification {
	height: 65px;
	background-color: #8edafc;
}

.notification > i {
	font-size: 20px;
	color: #8edafc;
	background-color: white;
	border-radius: 50%;
	padding: 10px 8px;
	margin: 0 8px;
}

.search {
	height: 40px;
}

#root .search input {
	border-radius: 10px;
	border: 1px solid lightgray;
}

#root .search input:focus-visible {
	border: 1px solid lightgray;
	box-shadow: none;
}

#root .search i {
	left: 20%;
	color: gray;
}

.conversations {
	height: calc(90vh - 165px);
	overflow: auto;
}

.conversations-img {
	height: 50px;
	border-radius: 50%;
	padding-left: 20px;
}

.conversation {
	height: 80px;
	border-top: 1px solid rgb(243, 236, 236);
	display: flex;
	align-items: center;
}

.conversation-active {
	background-color: #e9ebeb;
}

.chat {
	height: calc(90vh - 120px);
	overflow: auto;
	background-image: url(../img/mine.jpg);
}

.chat-buttons i {
	color: rgb(170, 170, 170);
	font-size: 25px;
	margin: 0 8px;
}

.chat .message {
	border: 1px solid lightgray;
	padding: 10px;
	margin: 10px 40px;
	border-radius: 10px;
}

.chat .sent {
	display: flex;
	justify-content: flex-end;
}

.chat .received {
	display: flex;
	justify-content: flex-start;
}

#root .chat .col-12 .sent .message {
	background-color: #d5f9ba;
}

#root .chat .col-12 .received .message {
	background-color: white;
}

#root .convo {
	display: none;
}

#root .chat .convo.active {
	display: inline-block;
}

.chat-tools {
	height: 60px;
	background-color: #f3eeea;
}

.chat-tools i {
	color: rgb(100, 98, 98);
	font-size: 25px;
	margin: 0 8px;
}

#root .chat-tools input {
	border-radius: 5px;
	border: 0;
}
