.whatsapp {
	height: 90vh;
}

header {
	height: 60px;
	background-color: #eaeaea;
}

.header-img {
	height: 45px;
	border-radius: 50%;
}

.user-button > i {
	color: rgb(170, 170, 170);
	font-size: 20px;
	margin: 0 8px;
}

.notification {
	height: 65px;
	background-color: #8edafc;
}

.search {
	height: 40px;
}

.conversations {
	height: calc(90vh - 165px);
	overflow: auto;
}

.chat {
	height: calc(90vh - 120px);
	overflow: auto;
}

.chat-tools {
	height: 60px;
}
