/* UTILZ */

.sm-txt {
	font-size: 12px;
	font-weight: 520;
}

/* + */

body {
	background: linear-gradient(to top, #d2dbdc 50%, #dddbd1 75%, #009688 75%);
	background-repeat: no-repeat;
	height: 100vh;
}
.whatsapp {
	height: 90vh;
}

header {
	height: 60px;
	background-color: #eaeaea;
}

.header-img {
	height: 45px;
	border-radius: 50%;
}

.user-button > i {
	color: rgb(170, 170, 170);
	font-size: 20px;
	margin: 0 8px;
}

.notification {
	height: 65px;
	background-color: #8edafc;
}

.notification > i {
	font-size: 20px;
	color: #8edafc;
	background-color: white;
	border-radius: 50%;
	padding: 10px 8px;
	margin: 0 8px;
}

.search {
	height: 40px;
}

#root .search input {
	border-radius: 5px;
	border: 1px solid lightgray;
}

#root .search input:focus-visible {
	border: 1px solid lightgray;
	box-shadow: none;
}

#root .search i {
	left: 20%;
	color: gray;
}

.conversations {
	height: calc(90vh - 165px);
	overflow: auto;
}

.chat {
	height: calc(90vh - 120px);
	overflow: auto;
}

.chat-tools {
	height: 60px;
}
